body {
  background: linear-gradient(to bottom,
      #000000 0%,
      #000000 58%,
      #7726ad 90%,
      /* ahora sólido */
      #7726ad 100%);
  min-height: 100vh;
}

/* Chrome, Safari, Edge y Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
